h1{
  font-weight: 900;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}

input{
  width: 100%;

}

.nameofapp{
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}

.item-container{
  text-align: left;
}